@use 'variables';

body {
    background: variables.$bg;
    margin: 0;
    padding: 0;

    h1 {
        color: var(--text);
    }
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    font-size: 1.5rem;
}